@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.principle-1,
.principle-2 {
  li {
    display: flex;
    column-gap: 10px;
    align-items: center;
    &::before {
      content: "·";
      color: #115faa;
      font-size: 40px;
    }
    @media (min-width: 1024px) {
      column-gap: 5px;
      &::before {
        content: "·";
        color: #115faa;
        font-size: 70px;
      }
    }
  }
}

.project-highlight-parent {
  scroll-behavior: smooth;
}

body {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #115faa;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #f49d02;
  }
}

.navLink:hover {
  .link-underline {
    width: 100%;
  }
}

.max-failsafe {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.preloader-spinner {
  opacity: 0;
  animation: spin 10s linear 2s infinite;
}

@keyframes spin {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.preloader-text::before {
  content: "Something might be wrong. Please check your connection or reload the page";
  animation: preloaderText 60s linear 1;
}

@keyframes preloaderText {
  0% {
    content: "";
  }
  35% {
    content: "Loading...";
  }
  40% {
    content: "Still loading...";
  }
  100% {
    content: "Something might be wrong. Please check your connection or reload the page";
  }
}
