@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 300;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}
body {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000a0;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #F49D02;
  }
}
.hero1 {
  animation: fade 20s linear 0s infinite;
}
.hero2 {
  animation: fade2 20s linear 0s infinite;
}
@keyframes fade {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  45% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
    transform: scale(1.2);
  }
  95% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.navLink:hover {
  .link-underline {
    width: 100%;
  }
}
